body {
  display: flex;
  align-items: left;
  font-family: 'Quicksand', sans-serif;
  background: -webkit-linear-gradient(360deg, #38aecc 10%, #347fb9 360%);
}
.container {
  display: flex;
  padding: 10px;
  width: 400px;
  height: 80px;
  border: solid black;
  border-radius: 30px;
  background-color: white;
  gap: 14px;
}
.title {
  word-wrap: break-word;
}
.search-bar {
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 14px;
}
.add-button {
  margin-left: 123px;
  width: 123px;
  height: 40px;
  border-radius: 30px;
  border: solid rgb(0, 0, 0);
}
.add-button:hover {
  background-color: rgb(149, 149, 251);
}
.info-container {
  display: flex;
  gap: 12px;
}