body {
  display: flex;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  color: white;
  background-color: #1c1c28;
}
.container {
  display: flex;
  padding: 10px;
  width: 350px;
  height: 80px;
  border: solid black;
  border-radius: 30px;
  background-color: #28293d;
  gap: 10px;
}
.search-bar {
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 10px;
}
.buttons {
  margin-left: 40px;
  width: 123px;
  height: 40px;
  border-radius: 30px;
  background-color: #3e7bfa;
  border: solid rgb(0, 0, 0);
}
.info-container {
  display: flex;
  gap: 12px;
}