body {
  display: flex;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  color: white;
  background-color: #1c1c28;
}
.container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 10px;
  width: 370px;
  height: 90px;
  border-radius: 10px;
  background-color: #2b2d43;
  gap: 15px;
}
.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border:none;
}
.search-bar {
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 10px;
}
.buttons {
  margin-left: 123px;
  width: 123px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background-color: #3e7bfa;
}
.buttons:hover {
  background-color:white;
}
.info-container {
  display: flex;
  gap: 30px;
}